.link {
  --_bg-acc-color: var(--c-main);

  display: block;

  padding-block: var(--size-2);
  padding-inline: var(--size-3);
  min-inline-size: var(--size-10);

  color: var(--_text-color);
  text-decoration: none;

  transition: text-decoration 350ms ease-in-out var(--transition, );
}

.link:hover,
.link:focus {
  text-decoration: underline;
}
